@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
           Tiêu đề
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-4">
            Ngày ra mắt
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-4">
           Thể loại
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-4">
          Giá
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Sửa</a> |
    <a asp-action="Index">Quay lại</a>
</div>
